cnn-finetune==0.5.3
logzero==1.5.0
munch==2.3.2
numpy==1.16.0
Pillow==5.4.1
pretrainedmodels==0.7.4
protobuf==3.6.1
scikit-learn==0.20.2
scipy==1.2.0
six==1.12.0
tensorboardX==1.6
torch==1.0.0
torchvision==0.2.1
tqdm==4.29.1
